@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap");


h2.tl-headline {
    color: #2E2C7E;
    font-family: Literata;
    font-size: 32px;
    font-weight: 700;
    line-height: 50px;
}

.tl-timeline h2 {
  text-transform: none !important;
}

.tl-timeline p {
    color: #525252;
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
}

.tl-timeline h3.tl-headline-date {
    color: #52525;
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
}
